In [7]:
c='a'

type(c)

str

In [8]:
c=0
c=5/2
type(c)

float

In [13]:
name,rollno,age='satya',382,23.5
print(type(name),type(rollno),type(age))

<class 'str'> <class 'int'> <class 'float'>

In [16]:
a,b=10,20
print(a,b)
a,b=b,a
print(a,b)

10 20
20 10

In [17]:
pow(2,5)

32

In [9]:
lb,ub=map(int,input().split())
def average(lb,ub):
    sum=0
    for i in range(lb,ub+1):
        sum=sum+i
    print(sum//ub-lb+1)
average(lb,ub)

1 10
5

In [17]:
# Membership operators--> in ,not in 
5 not in [1,2,3,4]

# By using identity operators--> is ,is not
5 is not 1
'abc' is 'abc' # identity and membership operators not work for strings

True

### Conditional control statement
- if
- elif
- else

In [19]:
if 5<6:
    print("True")
elif(6<7):
    print("True")
else:
    print("False")

True

### Iterative statement
- while
- for

In [23]:
range(2,10,2) # range starts from 0 t0 10-1

range(2, 10, 2)

In [27]:
for i in range(2,10,2):
    print(i,end=" ")

2 4 6 8

### Jump statements
- break
- continue

In [4]:
# while
n=1
while n<6:
    print(n)
    n+=1
# for loop
#for i in range(1,6):
    #print(i)
for i in 1,2,3:
    print (i)

1
2
3
4
5
1
2
3

In [7]:
#for i in range(10,4,-1):
    #print(i)
for i in "hai":
    print(i)

h
a
i

In [8]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [3]:
print(1,2,sep=",",end="*")
print(3,sep=";")

1,2*3

In [9]:
a=input("enter value:")
print(a)
type(a)

enter value:454
454

str

In [18]:
1+int("2")
n=10
print(n)

10

In [45]:
l=input().split()
print(len(l))

1 2 3 5 5
5

In [44]:
data=input()
count=0
for char in data.split(" "):
    count=count+1
print(count)

1 2 3 4 5
5

In [63]:
a=input().split(",")
sum=0
for i in a:
    sum=sum+int(i)
print(sum)

1,2,3,4,5
15

In [64]:
l=['1','2','3']
r=[]
for i in l:
    r.append(int(i))
r

[1, 2, 3]

In [11]:
#number of test cases:3
# next t lines input
# 3
#4+3      ->4/3
#5+77+0   ->0/77
#5+7      ->5/7

t=int(input())
for i in range(1,t+1):
    n=list(map(int,input().split("+")))
    print(min(n))
    print(max(n))

3
1+5+10
1
10
1+56+76
1
76
2+56+22
2
56