In [17]:
#reverse number

n=input()
rev=n[::-1]
for i in rev:
    print(i )

123
3
2
1

In [19]:
# reverse number in 
a=[print(i) for i in input()[::-1]]

123
3
2
1

In [24]:
# input=Ayyappa Bandi
# output=B. Ayyappa

s=input()
l,f=s.split(" ")[::-1]
print(l[0],f,sep=". ")

Ayyappa Bandi
B. Ayyappa

In [10]:
print(1,2,3,4,sep='@')

1@2@3@4

In [92]:
# 90 80 100
n=map(int,input().split())
sum=0
count=0
for i in n:
    sum=sum+i
    count=count+1
print(sum//count)

80 90 100
90

In [8]:
n=list(map(int,input().split()))
print(sum(n)//len(n))

1 2 3 4
2

In [41]:
s1="1"
s2='3'
print(int(s1)+int(s2))
print(type(s1))

4
<class 'str'>

### Strings in Python
  - strings are immutable

In [3]:
s="Python Programming"
len(s)
s[0]
s[17]
s[8]
s[-3]

'i'

In [4]:
s

'Python Programming'

In [5]:
s[0:6]

'Python'

In [6]:
s[::-1]

'gnimmargorP nohtyP'

In [8]:
s="swathi"
s[1::-1]

'ws'

In [69]:
s[7:]

'Programming'

In [70]:
s[:]

'Python Programming'

### String Methods

In [75]:
s="python"
#print(s.upper())
s=s.upper()
print(s)

PYTHON

In [78]:
s="PYTHON"
print(s.lower())

python

### str.startswith(sub_string)

In [113]:
main="python"
sub='p'
print(main.startswith(sub))

True

In [112]:
s="python".lower()
s1='P'.lower()
print(s.startswith(s1))

True

In [115]:
main="python programming"
print(main.startswith('python'))
print(main.startswith('programming'))

True
False

In [122]:
main="python programming"
print(main.endswith('ing'))

True

In [125]:
s="123"
print(s.isdigit())
s="123aerjf"
print(s.isdigit())

True
False

In [127]:
s=input('enter numbr')
if s.isdigit():
    print('success',int(s))
else:
    print('invalid input')

enter numbr123frj
invalid input

In [131]:
## str.split()

s="python programming"
r=s.split()
print(r[1])

programming

In [133]:
### str.lstrip()
s=" Satya "
r=s.lstrip()
print(len(s),len(r),r)

7 6 Satya

In [134]:
s=' satya  '
r=s.rstrip()
print(len(s),len(r),r)

8 6  satya

In [137]:
s=' satya  '
r=s.strip()
print(len(r))

5

### str.isupper()

In [139]:
s='SATYA'
print(s.isupper())

True

In [140]:
s='satya'
print(s.islower())

True

### str.isalpha()

In [141]:
s='python123'
print(s.isalpha())

False

### str.swapcase()

In [142]:
s='pythonPROGRAMMING'
print(s.swapcase())

PYTHONprogramming

### str.title()

In [143]:
s='python programming'
print(s.title())

Python Programming

### str.find(sub_string)

In [3]:
s='Python'
print(s.find('t'))

2

### str.replace(old,new)

In [6]:
s='python'
print(s.replace('n','oon'))

pythooon

### str.rfind(sub)

In [9]:
s='python programming'
print(s.rfind('o'))

9

### str.index(sub)

In [14]:
s='python'
print(s.index('o'))

4

### str.join(sequence_or_ collection_of_items)

In [19]:
s=['p','y','t','h','o','n']
print("".join(s))

python

### str.capitalize()

In [25]:
s='apssdc'
print(s[0].upper()+"".join(s[1:]))
print(s.capitalize())

Apssdc
Apssdc

In [26]:
s='Python Programming'
print(s.istitle())

True

In [32]:
s='python'
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [34]:
t=2
n=5
for i in range(1,n+1):
    print(t,'*',i,'=',t*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

#### Python Data Structures:
  - Lists
  - Tuples
  - Dictionaries
  - Sets

In [48]:
# List is mutable

li=[1,'abc',30.5]
li.append(5)# append
li.insert(2,34)# insert the between two values
li

[1, 'abc', 34, 30.5, 5]

In [49]:
li[1]=23

In [50]:
li[3]=45

In [51]:
li

[1, 23, 34, 45, 5]

In [52]:
li.pop(1)
li

[1, 34, 45, 5]

In [53]:
li.remove(5)
li

[1, 34, 45]

In [55]:
li.clear()
li

[]

In [78]:
list=[1,2,3,4]
list

[1, 2, 3, 4]

In [79]:
del list

In [85]:
li=[12,3,65,32,5,12]
li.sort()
li

[3, 5, 12, 12, 32, 65]

In [86]:
li.sort(reverse=True)

In [87]:
li[::-1]

[3, 5, 12, 12, 32, 65]

In [89]:
li.reverse()
li

[65, 32, 12, 12, 5, 3]

In [90]:
cli=li
print(cli,li)

[65, 32, 12, 12, 5, 3] [65, 32, 12, 12, 5, 3]

In [91]:
cli.append(345)
cli

[65, 32, 12, 12, 5, 3, 345]

In [92]:
li

[65, 32, 12, 12, 5, 3, 345]

In [93]:
li.pop()

345

In [94]:
li

[65, 32, 12, 12, 5, 3]

In [95]:
cli

[65, 32, 12, 12, 5, 3]

In [97]:
cli2=li.copy()
print(cli2,li)

[65, 32, 12, 12, 5, 3] [65, 32, 12, 12, 5, 3]

In [98]:
cli2.append(345)

In [99]:
cli2

[65, 32, 12, 12, 5, 3, 345]

In [100]:
li

[65, 32, 12, 12, 5, 3]

In [101]:
print(cli2,li)

[65, 32, 12, 12, 5, 3, 345] [65, 32, 12, 12, 5, 3]

In [103]:
li.extend(cli2)
li

[65, 32, 12, 12, 5, 3, 65, 32, 12, 12, 5, 3, 345, 65, 32, 12, 12, 5, 3, 345]

In [116]:
l1=[1,2,3]
l2=[4,5,6]
print(l1,l2)

[1, 2, 3] [4, 5, 6]

In [117]:
l1.extend(l2)
l1

[1, 2, 3, 4, 5, 6]

In [118]:
l1.append(l2)
l1

[1, 2, 3, 4, 5, 6, [4, 5, 6]]

In [123]:
l1[6][2]

6

In [173]:
li=[1,2,2,3,5,6,5,4]
li

[1, 2, 2, 3, 5, 6, 5, 4]

In [129]:
li.count(5)

2

In [174]:
for i in [8,9,10][::-1]:
    li.insert(1,int(i))
print(li)

[1, 8, 9, 10, 2, 2, 3, 5, 6, 5, 4]

In [177]:
li=[1,2,2,3,5,6,5,4]
l=[8,9,10]
l=l[::-1]
for i in l:
    li.insert(1,i)
li

[1, 8, 9, 10, 2, 2, 3, 5, 6, 5, 4]

In [180]:
li=[1,2,3,4,5]
print(sum(li),max(li),min(li))

15 5 1

In [185]:
l=list()
l

[]

In [9]:
t=int(input())
for i in range(t):
    n=list(map(int,input().split()))
    print(sum(n)//len(n))

2
1 2 4
2
1 2 3 4 5
3

In [11]:
def avg(n):
    return sum(n)//len(n)
t=int(input())
for i in range(t):
    n=list(map(int,input().split()))
    print(avg(n))

2
1 2 3
2
1 2 4
2

In [1]:
t=int(input())
for i in range(t):
    p,g=map(int,input().split())
    n=int(input())
    for k in range(n):
        i,j=map(int,input().split())
    if p>g:

3
9 6
3
1 0
1 1
0 1
6 9
3
1 1
1 0
0 0
19 12
3
1 0
0 0
1 0

In [8]:
n=int(input())
x=int(input())
for i in range(n):
    y=int(input())
    if y>=x:
        print("Y\nE\nS")
    else:
        print("N\nO")

3
100
23
N
O
434
Y
E
S
765
Y
E
S

In [ ]:
n=int(input())

####