In [1]:
# Function to print the alternate values in a range
# [500,550] inclusive set 500 502 504........550
#(500,550)exclusive set 501 503 505 ......549
# range(500,550)500 501 502................549
# for all set based functions in python have start value is inclusive an end value is exclusive
def alternatevalues(start,end):
    for i in range(start,end+1,2):
        print(i,end=" ")
    return
alternatevalues(500,525)

500 502 504 506 508 510 512 514 516 518 520 522 524

In [2]:
# Function to print reverse of given range in the same

def reverserange(start,end):
    for i in range(end,start-1,-1):
        print(i,end=" ")
    return
reverserange(500,525)

525 524 523 522 521 520 519 518 517 516 515 514 513 512 511 510 509 508 507 506 505 504 503 502 501 500

In [3]:
# Function to print the odd numbers in reverse order in a range

def reverseorder(start,end):
    for i in range(end,start-1,-1):
        if i%2!=0:
            print(i,end=" ")
    return
reverseorder(123,130)

129 127 125 123

In [4]:
# Function to calculate the sum of numbers in a range

def sumofnumbers(lb,ub):
    sum=0
    for i in range(lb,ub+1):
        sum=sum+i
    return sum
sumofnumbers(1,5)

15

In [5]:
# Function to calculate the average of a given range

def averageofrange(lb,ub):
    sum=0
    count=0
    for i in range(lb,ub+1):
        sum=sum+i
        count=count+1 
    return sum/count
averageofrange(1000, 5000)

3000.0

In [6]:
# Function to check if a given year is leap year
def isleapyear(year):
    if year%400==0 or (year%100!=0 and year%4==0):
        return True
    else:
        return False
isleapyear(2020)

True

In [7]:
# Function to print leap years in a given range



def isleapyear(year):
    if year%400==0 or (year%100!=0 and year%4==0):
        return True
    else:
        return False
def generateleapyear(start,end):
    for year in range(start,end+1):
        if isleapyear(year):
            print(year,end=" ")
    return
generateleapyear(2000,2020)

2000 2004 2008 2012 2016 2020

In [8]:
# calculate number of days ina given time period using  leap year logic
# For given time period,if the year is not a leap year->add 365 to sum,if the year is leap year->add 366 to sum

def Numberofdays(start,end):
    sum=0
    for year in range(start,end+1):
        if isleapyear(year):
            sum=sum+366
        else:
            sum=sum+365
    return sum
Numberofdays(2000,2002)

1096

In [43]:
# Function to calculate number of hours in a given period
#numberofHours(11,1975,3,1999)->>
#numberofHours(5,2019,6,2019)->>

2,2017,6,2019
#No of hours=24*No of days
# 3 steps
#1.start month year to end of year-calculate no of days
#2.calculate days for all years between start year and end year
#3.calculate days from Jan to end month

def numberofdaymonth(month,year):
    if month==2:
        if isleapyear(year):
            return True
        else:
            return 28
    elif (month<=7 and month%2!=0) or (month>=8 and month%2==0):
        return 31
    else:
        return 30
def daysinstartyear(startmonth,startyear):
    days=0
    for month in range(startmonth,13):
        days=days+numberofdaymonth(month,startyear)
    return days
def daysinendyear(endmonth,endyear):
    days=0
    for month in range(1,endmonth+1):
        days=days+numberofdaymonth(month,endyear)
    return days

def numberofHours(startmonth,startyear,endmonth,endyear):
    days=0
    days=days+daysinstartyear(startmonth,startyear)
    days=days+daysinendyear(endmonth,endyear)
    if endyear-startyear==1:
        days=days+Numberofdays(startyear+1,startyear+1)
    elif endyear-startyear>2:
        days=days+Numberofdays(startyear+1,endyear-1)
    return 24*days
numberofHours(6,2018,7,2018)

10224

Advanced Problem Set( Optional )
- Function to calculate average of all factorials in a given range
- Function to generate N odd armstrong numbers 
- Function to generate Multiplication table for a number in a given range
    - 10 in the range(100, 102) inclusive
    - 10 x 100 = 1000
    - 10 x 101 = 1010
    - 10 x 102 = 1020

In [15]:
# Function to calculate average of all factorials in a given range

def factorialofnumber(n):
    x=1
    sum=0
    count=0
    for i in range(1,n+1):
        x=x*i
        sum=sum+x
        count=count+1
    return sum/count
factorialofnumber(5)

30.6

In [16]:
# Function to generate N odd armstrong numbers 

n=int(input("Enter n: "))
def isAmstrong(j):
    x=j
    k=0
    while j!=0:
        r=j%10
        k=k+r**len(str(x))
        j//=10
     
    if x == k:
        print(x)
        return True
    else:
        return False
#isAmstrong(n)
def NoddArmstrong(n):
    sum=0
    i=0
    j=120
    while i<n:
        y=isAmstrong(j)
        #print(y,j)
        if y==True and j%2!=0:
            sum+=j
            i+=1
        j+=1
    return sum
NoddArmstrong(n)

Enter n: 3
153
370
371
407

931

In [20]:
# Function to generate Multiplication table for a number in a given range
    # 10 in the range(100, 102) inclusive
    # 10 x 100 = 1000
    # 10 x 101 = 1010
    # 10 x 102 = 1020


def multiplication(start,end):
    for i in range(start, end+1):
        table = 10 * i
        print(table)
    return
        
        
multiplication(100,102)

1000
1010
1020